# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.dev
.env.test
.env.prod
.env.stage
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# intelliJ based IDEs
.idea

# finder (MacOS) folder config
.DS_Stor

# prisma
/generated/prisma
